

.navbar-brand{
    margin-inline-start: 5%;
  
    color: white;
    font-weight: 750;
    }
    .avatar{
        background-color: #1abc9c;
    }
   .navbar-navbar-expand-lg{
    
        margin: 0 ;
        padding: 0;
   }
.nav-item{
    color: white;
}
.name-h1{
    color: white;
    font-size: 60px;
}

.img-fluid{
    border-radius: 7px;
}
.about{
    background-color: #1abc9c;
   color: white;
}
.btn-padding {
    padding: 1rem 1.75rem !important;
}   
.h4-başkılkar{
    color: white;
    font-size: 32px;
}
.paragraf-h-4{
    color: white;
    font-size: 20px;
}
.linkcolor{
    color:  #1abc9c;
}
.son-pg{
    color: rgba(255, 255, 255, 0.384);
}